@tailwind base;

a {
  @apply text-navbar-primary;
}
a:hover {
  @apply text-navbar-accents;
}



@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
}
